<template>
  <div>
    <v-sheet>
      <v-container fluid class="pa-0 text-center">
        <v-row>
          <video-background
            src="/video/video.mp4"
            poster="/images/bg-image.jpeg"
            :sources="[
              {src: '/video/video.mp4', res: 900, autoplay: true},
              {src: '/video/video.mp4', res: 638, autoplay: true, poster: '/images/bg-image.jpeg'}
            ]"
            style="min-height: 400px; height: 100vh; align-items: center"
            overlay="linear-gradient(45deg,#2a4ae430,#fb949e6b)"
          >
            <v-col>
              <v-col class="text-center">
                <h1 class="fl-h1 text-h4 text-sm-h3 text-md-h2 text-lg-h1  text-center">Аэротруба <span>FLYARENA</span>
                </h1>
              </v-col>
              <v-col class="text-center">
                <h2 class="fl-h2 text-h6 text-sm-h5 mt-4 w-full w-md-8-12 w-xl-half mx-auto">
                  Сеть аэротруб FLYARENA в центре Санкт-Петербурга на Крестовском и на Приморском у ТРК “ПИТЕРЛЭНД”
                </h2>
              </v-col>
            </v-col>
          </video-background>
        </v-row>
        <!--        <div class="mt-8">-->
        <!--          <v-btn x-large class="my-1 mx-sm-1 w-full w-sm-auto" color="primary">Start free trial</v-btn>-->
        <!--          <v-btn x-large class="my-1 mx-sm-1 w-full w-sm-auto">Learn more</v-btn>-->
        <!--        </div>-->
      </v-container>
    </v-sheet>

    <div class="white pt-2 pb-0">
      <v-container>
        <h1 class="text-center mb-4">Что такое аэротруба</h1>
        <p>Аэротруба это .....
          <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam blanditiis eos exercitationem facilis illum iste libero perferendis quidem ratione soluta! Consequuntur distinctio enim iure laboriosam omnis qui quia, similique veniam?</span>
          <span>Fugit labore officia quod veritatis voluptate. Accusamus aliquid at cupiditate deleniti dolorem doloremque ducimus ea impedit, iure laudantium maxime modi nam natus officia pariatur praesentium quidem rerum sed sequi soluta!</span>
          <span>Amet animi consequatur debitis delectus dolore doloremque dolores eaque earum ex excepturi explicabo illo in itaque labore modi molestias nam nihil, officia provident quos repudiandae saepe sequi unde velit, voluptate?</span>
          <span>Accusantium, aliquam aliquid architecto assumenda blanditiis consequatur corporis delectus dolorum ducimus est eum harum id impedit ipsam iure maiores mollitia nemo nesciunt nulla odio pariatur quod, tempora totam voluptate voluptates.</span>
          <span>Dolor dolore expedita illo voluptatibus. Culpa et neque nulla placeat quod. Dicta earum exercitationem, incidunt laborum maiores nisi optio perspiciatis quas reprehenderit ut? A consequatur eum explicabo ratione tempore totam?</span>
        </p>
      </v-container>
    </div>

    <!--    <CallAction title="Забронировать полет"></CallAction>-->
    <Partners/>

    <Benefits :data="numerals1"></Benefits>

    <Benefits :data="numerals2"></Benefits>

    <CallAction title="Забронировать полет"></CallAction>
    <!--    <Stats />-->

    <v-container>
      <v-divider></v-divider>
    </v-container>

    <Feature2/>

    <Feature1/>
    <CallAction title="Забронировать полет"></CallAction>
    <Pricing/>

    <CallToAction/>
  </div>
</template>

<script>

export default {
  components: {
    Benefits: () => import('@/components/landing/Stats.vue'),
    Partners: () => import('@/components/landing/Partners.vue'),
    Pricing: () => import('@/components/landing/Pricing.vue'),
    Feature1: () => import('@/components/landing/Feature1.vue'),
    Feature2: () => import('@/components/landing/Feature2.vue'),
    CallToAction: () => import('@/components/landing/CallToAction.vue'),
    CallAction: () => import('@/components/landing/CallAction.vue')
  },
  data: () => ({
    numerals1: [
      {
        value: '573',
        description: 'Среднее количество прыжков с парашютом имеет каждый инструктор Flyarena'
      },
      {
        description: 'Трубы Flyarena работают для вас на Крестовском острове и в Питерленде',
        value: '2'
      },
      {
        description: 'Человек уже испытали чувство полета с аэротрубами Flyarena',
        value: '21900'
      },
      {
        description: 'Минут полета тебе потребуется чтобы влюбиться',
        value: '5'
      }
    ],
    numerals2: [
      {
        value: '7',
        description: 'Дней в неделю, при любой погоде мы открыты для полётов!'
      },
      {
        description: 'Часов, инимальное время налета наших инструкторов',
        value: '1500'
      },
      {
        description: 'Ккал ты можешь сжечь в трубе всего за 15 минут',
        value: '800'
      },
      {
        description: 'Человек ежедневно летают в наших трубах',
        value: '80'
      }
    ]
  })
}
//change 4 benefits to 3
</script>

<style>
.bg-image {
  background: no-repeat 100%/100% url('https://azur.ru/aimg/17/5817_6b020_src.jpg');
  position: relative;
}

.bg-image:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.4;
}

.fl-h1, .fl-h2 {
  position: relative;
  color: #fff;
}

.videobg-content {
  display: flex;
  align-items: center;
}
</style>
