<template>
  <v-sheet class="pb-2">
    <v-row justify="center">
      <v-col cols="10">
        <v-container fluid class="pa-0 text-center">
          <h3>{{ title }}</h3>
          <p class="subtitle-1">{{ subtitle }}</p>
          <v-row justify="space-between">
            <v-text-field outlined class="mr-4" placeholder="Имя"></v-text-field>
            <v-text-field outlined class="mr-4" placeholder="Телефон"></v-text-field>
            <v-btn class="mr-4 btn-grad" x-large>Полетели!</v-btn>
          </v-row>
        </v-container>
      </v-col>
    </v-row>
  </v-sheet>
</template>

<script>
export default {
  props: ['title', 'subtitle']
}
</script>
