<template>
  <v-sheet>
    <v-container class="py-4 py-lg-8">
      <v-row>
        <v-col cols="12" lg="6">
          <h2 class="text-h3">Посмотрите отзывы тех, кто уже полетал</h2>
          <div class="text-h6 text-lg-h5 mt-5">Сеть аэротруб Flyarena действительно дарит положительные эмоции и новые
            впечатления. Наши довольные клиенты - яркое тому подтверждение. Уделите 2 минуты
            и познакомьтесь с впечатлениями людей, полетавших в аэротрубах Flyarena
          </div>
          <div class="text-uppercase font-weight-bold body-2 primary--text mb-2 mt-2 mt-xl-10"><a href="#" rel="nofollow">Больше отзывов</a></div>
        </v-col>
        <v-col cols="12" lg="6">
          <div>
            <v-row justify="space-around">

            </v-row>
            <v-carousel v-model="slide" hide-delimiter-background hide-delimiters height="315">
              <v-carousel-item
                v-for="(sl, index) in slides"
                :key="index"
              >
                <iframe
                  width="560"
                  height="315"
                  loading="lazy"
                  :src="sl + '?' + videoParams"
                  title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                ></iframe>
              </v-carousel-item>
            </v-carousel>
          </div>
        </v-col>
      </v-row>
    </v-container>
  </v-sheet>
</template>

<script>
export default {
  data: () => ({
    videoParams: 'controls=0;autoplay=0',
    slide: 1,
    slides: [
      'https://www.youtube.com/embed/-iVhysZh1Pg',
      'https://www.youtube.com/embed/-iVhysZh1Pg',
      'https://www.youtube.com/embed/-iVhysZh1Pg',
      'https://www.youtube.com/embed/-iVhysZh1Pg'
    ]
  })
}
</script>
