<template>
  <v-container class="py-4">
    <h1 class="text-center mb-4">Во-первых, это безопасно</h1>
    <v-row>
      <v-col v-for="(item, i) in features" :key="i" cols="12" md="6">
        <div class="d-flex">
          <div class="mr-2">
            <v-sheet outlined rounded class="pa-2 elevation-1">
              <v-icon class="icon-red">{{ item.icon }}</v-icon>
            </v-sheet>
          </div>
          <div>
            <div class="text-h5">{{ item.title }}</div>
            <div class="text-h6 font-weight-light mt-1">{{ item.description }}</div>
          </div>
        </div>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      features: [{
        icon: 'mdi-thumb-up-outline',
        title: 'Летают даже дети',
        description: 'В наших аэротрубах могут летать абсолютно все! И дети, и взрослые'
      }, {
        icon: 'mdi-weather-partly-lightning',
        title: 'В любую погоду',
        description: 'Поскольку аэротрубы находятся в зданиях - вам не страшна непогода. Мы летаем в любое время'
      }, {
        icon: 'mdi-clock-time-eight-outline',
        title: 'Не требует подготовки',
        description: 'Любой вид спорта требует тренированное тело, изнуряющие физические упражнения и навыки. В аэротрубах вам не нужно быть сильным и выносливым - всё получится сразу'
      }, {
        icon: 'mdi-parachute-outline',
        title: 'Лучше прыжка с парашютом',
        description: 'Прыжок с парашютом подразумевает наличие предварительной подготовки, настройки, определенной смелости. В трубе вы сможете испытать чувство полета без каких-либо рисков и тренировок'
      },{
        icon: 'mdi-cog-off-outline',
        title: 'Не нужно снаряжение',
        description: 'Мы выдаём всю необходимую экипировку, наш инструктор будет с вами на протяжении всего приключения: от инструктажа до окончания полёта. После полёта вам покажут видео с GoPro!'
      }, {
        icon: 'mdi-emoticon-lol-outline',
        title: 'Незабываемое время с друзьями',
        description: 'Полёт в наших аэротрубах - это неповторимый отдых как для одного человека, так и для большой компании!'
      }]
    }
  }
}
</script>
