<template>
  <v-container id="pricing" class="pt-4 pt-md-8 pb-10">
    <v-responsive max-width="1200" class="mx-auto text-center">
      <h2 class="text-h3 mb-2">Тарифы</h2>
    </v-responsive>

    <v-row justify="space-between">
      <v-col
        v-for="(plan, i) in plans"
        :key="i"
        cols="12"
        lg="4"
      >
        <v-card
          class="text-body-1 pa-4"
          outlined
          elevation="2"
        >
          <div class="d-flex justify-space-between">
            <v-row class="mr-2 ml-0">
              <div class="d-flex align-center">
                <div class="text-h4 font-weight-black">{{ plan.title }}</div>
              </div>
              <div class="mt-1">{{ plan.description }}</div>
            </v-row>
            <div class="text-h3 text-number font-weight-black">{{ plan.price }}</div>
          </div>

          <v-divider class="my-4"></v-divider>

          <div class="text-h6">
            <div v-for="(feat, j) in plan.features" :key="j" class="d-flex align-center justify-space-between my-1">
              <div>
                <span v-if="feat.value" class="font-weight-black mr-1">{{ feat.value }}</span>
                <span class="text-truncate font-weight-regular">{{ feat.label }}</span>
              </div>
              <v-icon class="icon-red">mdi-check</v-icon>
            </div>
          </div>
          <v-divider class="my-4"></v-divider>
          <v-btn
            x-large
            block
            :outlined="!plan.featured"
            :class="plan.featured ? 'btn-grad' : ''"
            to="/auth/signup"
          >
            {{ plan.btnText }}
          </v-btn>
        </v-card>
      </v-col>

      <v-expansion-panels class="px-3">
        <v-expansion-panel>
          <v-expansion-panel-header>
            <h3>Не нашли подходящий тариф? Посмотрите полную сетку тарифов:</h3>
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <v-data-table
              :headers="headers"
              :items="items"
              hide-default-footer
            >
              <template v-slot:item.time="{ item }">
                <div class="font-weight-bold"> {{ item.time }}</div>
              </template>

              <template v-slot:item.pricingAdult="{ item }">
                <div class="font-weight-bold"> {{ item.priceAdult }} руб</div>
              </template>

              <template v-slot:item.pricingKids="{ item }">
                <div class="font-weight-bold"> {{ item.priceKids }} руб</div>
              </template>

              <template v-slot:item.action="">
                <div> <v-btn class="btn-grad--outlined">купить</v-btn></div>
              </template>

            </v-data-table>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>

    </v-row>
  </v-container>
</template>

<script>
import newbiePrices from '@/fixtures/prices/newbies'
import moment from 'moment'
export default {
  data() {
    return {
      headers: [
        {
          text: 'Полетное время',
          value: 'time'
        },
        {
          text: 'Взрослым',
          value: 'pricingAdult'
        },
        {
          text: 'Детям',
          value: 'pricingKids'
        },
        {
          text: '',
          value: 'action'
        }
      ],
      items: newbiePrices,
      plans: [{
        title: 'Летун',
        price: 2500,
        time: 2,
        btnText: 'Поехали!',
        features: [{
          value: 2,
          label: 'минуты полета'
        }, {
          value: '',
          label: 'включена экипировка'
        }, {
          value: '',
          label: 'идеально для новичка'
        }]
      }, {
        title: 'Птица',
        price: 3500,
        time: 5,
        btnText: 'Хочу еще!',
        featured: true,
        features: [{
          value: '5',
          label: 'минут полета'
        }, {
          value: '',
          label: 'включена экипировка'
        }, {
          value: '',
          label: 'можно вдвоем'
        }]
      }, {
        title: 'Самолет',
        price: 7000,
        time: 10,
        btnText: 'Я профи!',
        features: [{
          value: '10',
          label: 'минут полета'
        }, {
          value: '',
          label: 'включена экипировка'
        }, {
          value: '',
          label: 'то, что надо для 4 человек'
        }]
      }]
    }
  }
}
</script>
