<template>
  <span class="fb-icon-black">
    <img
      src="@/assets/images/fb-logo-bw.png"
      width="20px"
      height="20px"
      alt=""
    >
  </span>
</template>

<style>
.fb-icon-black{
  width: 29px;
  height: 29px;
  padding: 2px 0px 0px 2px !important;
  border: 3px solid;
  border-radius: 7px;
}

</style>
