<template>
  <span class="vk-icon-black">
    <img
      src="@/assets/images/vk-logo-bw.png"
      width="20px"
      height="20px"
      alt=""
    >
  </span>
</template>

<style>
.vk-icon-black{
  width: 28px;
  height: 28px;
  padding: 1px 0px 0px 1px !important;
  border: 3px solid;
  border-radius: 7px;
}

</style>
