<template>
  <div>
    <v-app-bar flat height="35">
      <v-container>
        <v-row class="ma-0 pa-0">
          <v-row align="center">
            <v-icon size="16" class="mr-1">mdi-phone-outline</v-icon>
            <a href="tel:+78126048888" class="mr-3 icon-red">+7 (812) 604-8888</a>
            <v-divider vertical></v-divider>
          </v-row>
          <v-row align="center">
            <v-icon size="16" class="mr-1">mdi-email-outline</v-icon>
            <a href="mailto:booking@flyarena.ru" class="mr-3 icon-red">booking@flyarena.ru</a>
            <v-divider vertical></v-divider>
          </v-row>
          <v-row align="center">
            <v-icon size="16" class="mr-1">mdi-map-marker-outline</v-icon>
            <a href="#" class="mr-3 icon-red">г. Санкт-Петербург, Северная дорога 12В</a>
            <v-divider vertical></v-divider>
          </v-row>
          <v-row align="center">
            <v-icon size="16" class="mr-1">mdi-clock-outline</v-icon>
            <a href="#" class="mr-3 icon-red">с 09:00 до 22:00, без выходных</a>
            <v-divider vertical></v-divider>
          </v-row>
          <v-row justify="end" align="center" align-content="center" class="d-inline-flex">
            <VKLogo class="mr-1"></VKLogo>
            <InstaLogo class="mr-1"></InstaLogo>
            <FBLogo></FBLogo>
          </v-row>
        </v-row>
      </v-container>
    </v-app-bar>
    <v-app-bar flat height="70" style="position: sticky; top:0px; z-index: 100">
      <v-container class="py-0 px-0 fill-height">
        <router-link to="/dashboard/analytics" class="d-flex align-center text-decoration-none mr-2">
          <img :src="require('@/assets/images/logo.png')" height="55"/>
        </router-link>

        <div class="d-none d-md-block">
          <v-btn text class="mx-1">
            Новичкам
          </v-btn>
          <v-btn text class="mx-1">
            Спортсменам
          </v-btn>
          <v-btn text class="mx-1">
            Для детей
          </v-btn>
          <v-btn text class="mx-1">
            Корпоративным клиентам
          </v-btn>
          <v-btn text class="mx-1">
            Цены
          </v-btn>
          <v-btn text class="mx-1">
            Войти
          </v-btn>
        </div>

        <v-spacer></v-spacer>

        <v-btn
          ref="btn-red"
          outlined
          large
          to="/auth/signup"
          class="btn-grad--outlined"
          @mouseover="isBtnActive = true"
          @mouseout="isBtnActive = false"
        >
          Записаться на полет
          <img
            :class="isBtnActive ? 'ml-2 btn-logo-invert' : 'ml-2'"
            height="20px"
            src="https://img.icons8.com/ios-filled/30/000000/skydiving.png"
          />
          <!-- @TODO change to local -->
        </v-btn>
      </v-container>
    </v-app-bar>

    <v-main>
      <router-view :key="$route.fullPath"></router-view>

      <v-footer color="transparent">
        <v-container class="py-5">
          <v-row>
            <v-col cols="12" md="4">
              <div class="text-h6 text-lg-h5 font-weight-bold">Navigation</div>
              <div style="width: 80px; height: 2px" class="mb-5 mt-1 primary"/>
              <div class="d-flex flex-wrap">
                <div v-for="(link, i) in links" :key="i" class="w-half body-1 mb-1">
                  <router-link
                    v-if="link.to"
                    class="text-decoration-none text--primary"
                    :to="link.to"
                  >{{ link.label }}
                  </router-link>
                  <a
                    v-else
                    class="text-decoration-none text--primary"
                    :href="link.href"
                    :target="link.target || 'blank'"
                  >{{ link.label }}</a>
                </div>
              </div>
            </v-col>
            <v-col cols="12" md="4">
              <div class="text-h6 text-lg-h5 font-weight-bold">Contact Information</div>
              <div style="width: 80px; height: 2px" class="mb-5 mt-1 primary"/>
              <div class="d-flex mb-2 font-weight-bold">
                <v-icon color="primary lighten-1" class="mr-2">mdi-map-marker-outline</v-icon>
                W Left Street, Long Beach, Los Angeles, CA 90802 USA
              </div>
              <div class="d-flex mb-2">
                <v-icon color="primary lighten-1" class="mr-2">mdi-phone-outline</v-icon>
                <a href="#" class="text-decoration-none text--primary">+03 000 23 00 555 55</a>
              </div>
              <div class="d-flex mb-2">
                <v-icon color="primary lighten-1" class="mr-2">mdi-email-outline</v-icon>
                <a href="#" class="text-decoration-none text--primary">hello@loremcompany.com</a>
              </div>
            </v-col>
            <v-col cols="12" md="4">
              <div class="text-h6 text-lg-h5 font-weight-bold">Newsletter</div>
              <div style="width: 80px; height: 2px" class="mb-5 mt-1 primary"/>
              <div class="d-flex flex-column flex-lg-row w-full">
                <v-text-field
                  outlined
                  solo
                  label="Your email"
                  dense
                  height="44"
                  class="mr-lg-2"
                ></v-text-field>
                <v-btn large color="primary">Subscribe</v-btn>
              </div>
              <div class="text-center text-md-right mt-4 mt-lg-2">
                Connect
                <v-btn fab small color="primary" class="ml-2">
                  <v-icon>mdi-twitter</v-icon>
                </v-btn>
                <v-btn fab small color="primary" class="ml-2">
                  <v-icon>mdi-linkedin</v-icon>
                </v-btn>
                <v-btn fab small color="primary" class="ml-2">
                  <v-icon>mdi-instagram</v-icon>
                </v-btn>
              </div>
            </v-col>
          </v-row>
          <v-divider class="my-3"></v-divider>
          <div class="text-center caption">
            © Indielayer 2021. All Rights Reserved
          </div>
        </v-container>
      </v-footer>
    </v-main>
  </div>
</template>

<script>
import config from '@/configs'
export default {
  components: {
    VKLogo: () => import('@/components/logo/VKLogo'),
    InstaLogo: () => import('@/components/logo/InstaLogo'),
    FBLogo: () => import('@/components/logo/FBLogo')
  },
  data() {
    return {
      config,
      isBtnActive: false,
      links: [{
        label: 'Overview',
        to: '#'
      }, {
        label: 'Features',
        to: '#'
      }, {
        label: 'Pricing',
        to: '#'
      }, {
        label: 'Documentation',
        to: '#'
      }, {
        label: 'News',
        to: '#'
      }, {
        label: 'FAQ',
        to: '#'
      }, {
        label: 'About us',
        to: '#'
      }, {
        label: 'Carrers',
        to: '#'
      }, {
        label: 'Press',
        to: '#'
      }]
    }
  }
}
</script>

<style>

.icon-red {
  color: #e52d27 !important;
}
.btn-grad {
  background-image: linear-gradient(to right, #e52d27 0%, #b31217  51%, #e52d27  100%)
}
.btn-grad {
  transition: 0.5s;
  background-size: 200% auto;
  color: #fff !important;
  box-shadow: 0 0 20px #eee;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
.btn-logo-invert {
  filter: invert(100%);
}

.btn-grad--outlined {
  border-radius: 100rem;
  padding: 1rem;
  font-family: 'Avenir Next';
  font-size: 1rem;
  padding: .5rem 3rem;
  color: #000;
  box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  border: solid 3px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #e52d27 0%, #b31217  51%, #e52d27  100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #fff inset;
}

.btn-grad--outlined:hover {
  box-shadow: none;
  color: white;
}
</style>
